body {
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1rem;
}
h2 { margin: 0; }
input:focus { outline: none; }

.wrapper {
    align-items: center;
    min-height: 100vh;
    height: auto;
    display: flex;
    flex-direction: column;
    gap: 15px;
    padding:40px;
    font-size: 16px;
}

.title { font-size: 2.0rem; }

/*search*/
.search { padding-left: 6px; font-size: 18px; width:250px; height: 30px; border: 2px #f2f2f2 solid;  transition: 0.2s ease all; }
.search:focus { outline: none; border-bottom: 2px solid #cd822c; }

/*crypto table*/
.crypto-table { width: 1000px; border-collapse: collapse; border-spacing: 0 1em; }
.crypto-table thead { background-color: #e3943a; color:black; text-align: center; color: white;}
.crypto-table tbody tr { text-align: center; border-bottom: 1px solid #dddddd; }
.crypto-table tbody tr:last-of-type { border-bottom: 2px solid #e3943a; }
.crypto-table .rank { text-align: center; font-weight: bold; }
.crypto-table .logo { display: flex; justify-content: center; align-items: center; gap: 10px; }

.crypto-table .no-search { font-size: 1rem; font-weight: bold; height: 10vh;}
.crypto-table .no-search::before { 
    display: inline-block;
    background-image: url('/images/search.png');
    background-size: cover;
    content:''; 
    width: 15px;
    height: 15px;
    margin-right: 5px;
}